<a href="https://colab.research.google.com/github/SteelworkerDB/CD_WEEK2/blob/main/Datos_del_Titanic_Pandas_Core.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DATOS DEL TITANIC, EJERCICIOS PANDAS

---

CARGA DE DATOS

---

In [77]:
import pandas as pd

filename='/content/drive/MyDrive/Codificacion_Dojo/titanic_copia.csv'
titanic_df=pd.read_csv(filename)

1. CENTRO DE DATOS

In [78]:
titanic_df.head() #CENTRO DE DATOS DEL TITANIC, 5 PRIMERAS FILAS

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

2. PORCENTAJE DE LAS PERSONAS QUE SOBREVIVIERON

In [79]:
sobreviv_pc=(titanic_df['Survived'].mean())*100 #SUMA TOTAL DE LA COLUMNA 'SURVIVED' / TOTAL DE PASAJEROS; O PROMEDIO DE SURVIVED
print('Sobrevivio el: ',sobreviv_pc.round(2),'%')

Sobrevivio el:  38.38 %

3. CUANTOS DE CADA SEXO SOBREVIVIERON

In [80]:
 # AGRUPO POR SEXO, SUMO LA COLUMNA DE SURVIVED DE C/GRUPO
grupo_sx=titanic_df.groupby('Sex')['Survived'].sum().reset_index()

In [81]:
grupo_sx # 233 MUJERES Y 109 HOMBRES SOBREVIVIERON

      Sex  Survived
0  female       233
1    male       109

4. SOBREVIVIENTES QUE PAGARON MENOS DE $10

In [82]:
filtro_pago=titanic_df['Fare']<=10 #elaborar un filtro en la columna Fare
fare_menor_10=titanic_df[filtro_pago]
 #SUMA DE LAS PERSONAS QUE SOBREVIVIERON QUE PAGARON MENOS DE $10/TOTAL
 #DE PASAJEROS QUE PAGARON MENOS DE 10
sobreviv_fare_bajo10=fare_menor_10['Survived'].mean()*100
print('% Sobrevivientes entre pasajeros que pagaron menos de $10: ', \
      sobreviv_fare_bajo10.round(2), '%')

% Sobrevivientes entre pasajeros que pagaron menos de $10:  19.94 %

5.  EN TOTAL, ¿EDAD PROMEDIO DE LOS QUE NO SOBREVIVIERON?

In [83]:
#HAY PASAJEROS SIN EDAD REGISTRADA, PRIMERO SE NECESITA LIMPIAR ESTOS VALORES
titanic_df_sna=titanic_df.dropna() #ELIMINA VALORES EN BLANCO
filtro_no_sobv=titanic_df_sna['Survived']==0 #FILTRO NO SOBREVIVIENTES
filtrado_5=titanic_df_sna[filtro_no_sobv]
edad_prome_no_sob=filtrado_5['Age'].mean()
print('Edad promedio que no sobrevivieron: ', edad_prome_no_sob.round(2))

Edad promedio que no sobrevivieron:  41.35

6. EN TOTAL ¿EDAD PROMEDIO DE LOS QUE SOBREVIVIERON?

In [84]:
filtro_sobv=titanic_df_sna['Survived']==1 #FILTRO SOBREVIVIENTES
filtrado_6=titanic_df_sna[filtro_sobv]
edad_prome_sob=filtrado_6['Age'].mean()
print('Edad promedio de los que sobrevivieron: ', edad_prome_sob.round(2))

Edad promedio de los que sobrevivieron:  32.91

7. ¿CUAL ES EL PROMEDIO DE EDAD DE LOS QUE SOBREVIVIERON Y DE LOS QUE NO SOBREVIVIERON AGRUPADO POR SEXO?

In [85]:
groupsx=titanic_df_sna.groupby(['Sex','Survived'])['Age'].mean().reset_index()

In [86]:
#PROMEDIO DE EDADES DE SOBREVIVIENTES Y NO SOBREVIVIENTES AGRUPADOS POR SEXO
groupsx

      Sex  Survived        Age
0  female         0  27.500000
1  female         1  33.054878
2    male         0  42.888889
3    male         1  32.607805