<a href="https://colab.research.google.com/github/SteelworkerDB/CD_WEEK2/blob/main/Renombrar_eliminar_datos_faltantes_PRACTICA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PRACTICA RENOMBRAR, ELIMINAR Y DATOS FALTANTES

In [57]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [58]:
import pandas as pd

CARGA DE DATOS

---

In [59]:
filename='/content/drive/MyDrive/Codificacion Dojo/RailsToTrails_National Count Data_week.xlsx'
bike_df=pd.read_excel(filename)
bike_df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Week 1,2020-12-30,167679,183546,NaN,0.094627,1.094627,NaN,NaN,NaN
1,Week 2,2020-01-06,82340,97140,NaN,0.179743,117.974253,NaN,NaN,NaN
2,Week 3,2020-01-13,62315,75782,NaN,0.216112,121.611169,NaN,NaN,NaN
3,Week 4,2020-01-20,75801,83809,NaN,0.105645,110.564504,NaN,NaN,NaN
4,Week 5,2020-01-27,75841,94738,NaN,0.249166,124.916602,NaN,NaN,NaN

1.  ELIMINAR COLUMNAS INNECESARIAS

---

In [60]:
bike_df.drop(columns=['Unnamed: 7','Unnamed: 8','Unnamed: 9'],inplace=True)
bike_df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6
0,Week 1,2020-12-30,167679,183546,NaN,0.094627,1.094627
1,Week 2,2020-01-06,82340,97140,NaN,0.179743,117.974253
2,Week 3,2020-01-13,62315,75782,NaN,0.216112,121.611169
3,Week 4,2020-01-20,75801,83809,NaN,0.105645,110.564504
4,Week 5,2020-01-27,75841,94738,NaN,0.249166,124.916602

2. VALORES FALTANTES


---

In [61]:
bike_df.isna().sum()

Timeframe                      0
Week of                        0
 2019 counts (31 counters)     0
 2020 counts (31 counters)     0
2021 Counts                   52
Change 2019-2020               0
Unnamed: 6                     0
dtype: int64

Los valores faltantes est√°n en la columna '2021 Counts', y hay 52

---

3.  REEMPLAZAR VALORES FALTANTES EN LA COLUMNA 2021 COUNTS CON 0

---

In [62]:
bike_df.fillna(0, inplace=True)

In [63]:
bike_df.isna().sum() #se han quitado los valores faltantes

Timeframe                     0
Week of                       0
 2019 counts (31 counters)    0
 2020 counts (31 counters)    0
2021 Counts                   0
Change 2019-2020              0
Unnamed: 6                    0
dtype: int64

In [64]:
(bike_df==0).sum() #cuenta los datos que son ceros en cada columna

Timeframe                      0
Week of                        0
 2019 counts (31 counters)     0
 2020 counts (31 counters)     0
2021 Counts                   52
Change 2019-2020               0
Unnamed: 6                     0
dtype: int64

4. BONUS: CAMBIO DE TITULO DE LA COLUMNA 2019 COUNTS.

---

In [65]:
encabezados=list(bike_df) #esta funcion recupera los encabezados del dframe.
print(encabezados)

['Timeframe', 'Week of', ' 2019 counts (31 counters)', ' 2020 counts (31 counters)', '2021 Counts', 'Change 2019-2020', 'Unnamed: 6']

In [66]:
bike_df=bike_df.rename(columns={encabezados[2]:'counts_2019',}) #se reemplaza el nombre 2 del encabezado por counts_2019
bike_df.head()

,Timeframe,Week of,counts_2019,2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6
0,Week 1,2020-12-30,167679,183546,0.0,0.094627,1.094627
1,Week 2,2020-01-06,82340,97140,0.0,0.179743,117.974253
2,Week 3,2020-01-13,62315,75782,0.0,0.216112,121.611169
3,Week 4,2020-01-20,75801,83809,0.0,0.105645,110.564504
4,Week 5,2020-01-27,75841,94738,0.0,0.249166,124.916602